* {
    box-sizing: border-box;
  }
  body {
    color: #6a6a6a;
    font: 1.05em/1.5 'Raleway', sans-serif;
  }
  header {
    padding: 0 0 .85em;
  }
  header::after {
    content: "";
    display: table;
    clear: both;
  }
  h1,
  h2 {
    color: #00b287;
    margin-top: .65em;
  }
  main > h2 {
    margin-bottom: 1.25em;
  }
  h3,
  h2 {
    font-weight: normal;
  }
  a {
    color: #00b287;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  main ul {
    padding: 0;
  }
  input {
    border-radius: .3em;
    border: none;
    outline: none;
    line-height: 2;
    padding: .5em 1em;
  }
  input[type='text'] {
    width: 75%;
    margin-right: 4px;
    border: 1px solid #e1e0e0;
  }
  input[type='text']:focus {
    
    border: 2px solid #64727F;
  }
  
  input[type='submit'] {
    color: white;
    background: #00b287;
    cursor: pointer;
  }
  header > img {
    max-width: 377px;
    max-height: 80px;
    float: left;
    margin-top: 10px;
  }
  .material-icons {
    font-size: .95em;
    float: left;
    margin: 12px 0 0 0;
  }
  nav {
    float: right;
    margin-top: 20px;
  }
  nav li {
    display: inline-block;
    margin: 0 0.45em;
  }
  nav a {
    display: block;
    font-size: 0.95em;
    text-decoration: none;
  }

  nav a:hover {
    color: #0a090c;

  }

  .main-img {
    max-width: 100%;
    padding: .7em;
    margin-bottom: 1em;
    border: solid 1px #ededed;
    
  }
  .wrapper {
    width: 90%;
    max-width: 770px;
    padding-top: 1px;
    margin: auto;
  }
  article {
    padding: 0 0 0.5em;
    margin-bottom: 1.4em;
    border-bottom: 1px dotted #dadada;
  }
  .list-primary {
    float: left;
    width: 50%;
    padding: 0 0 2em 0;
  }
  .list-primary li {
    margin-bottom: 0.85em;
    line-height: 1.45;
  }
  .subscribe {
    float: right;
    width: 42%;
    padding-bottom: 1.8em;
  }
  footer {
    border-top: 1px dotted #dadada;
    text-align: center;
    padding: 2em 0 1.5em;
    clear: both;
  }

  .reduceftr {
    font-size: .75em;

  }

  main * a:hover {

    color: #BFAB25;

  } 

  main * a:link {

    color: #F6511D;

  } 

  input[type='submit']:active {
    background: #000000;

  }

  h2 + ul {
    color: #F6511D;

  }

  /* Media Queries  */
  @media (max-width: 575px) {
    nav,
    header > img,
    .list-primary,
    .subscribe {
      float: none;
      width: 100%;
    }
    .list-primary {
      padding-bottom: 0;
    }
  }